<%= render 'category' %>
<div id="content-mean">
  <% @articles.each do |a| %>
  <div class="article">
    <%= link_to a do %>
      <h1> <%= truncate(a.name, length: 44) %> </h1>
    <% end %>
  </div>
  <% end %>
  <% if user_signed_in? %>
  <div class="button-new">
      <%= link_to "New Article", new_article_path %>
  </div>
  <% end %>
</div>
